.vassar-header {
  font-family: "futura-pt-condensed", sans-serif !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 0 0.2em;
}


.unfix-last-section .last-section .field--name-field-main-content-body {
	position: static;
}
