.top-links {
  font-size: calc(1em + 0.5 * ((100vw - 20em) / 60));
}

.component--instituteLogo {
  --highlight-color: #3a4527;
  --highlight-color-2: #00f;

  height: 100vh;
  position: relative;
}

@function has-key($map, $defaults, $key) {
  @if map-has-key($map, $key) {
      @return map-get($map, $key);
    } @else {
      @return map-get($defaults, $key);
  }
}

@mixin bp-sequence($map:(item: 1)) {
	$defaults: (
		gap: 0.2s,
		offset: 2s,
		max-items: 20,
		type: animation,
	);

	$gap: has-key($map, $defaults, gap);
	$offset: has-key($map, $defaults, offset);
	$max-items: has-key($map, $defaults, max-items);
	$type: has-key($map, $defaults, type);

	@for $i from 1 through $max-items {
		&:nth-child(#{$i}) {
			#{$type}-delay: $offset + ($gap * $i);
		}
	}
}

$border: 1px solid #c6aa76;

html {
  margin: 0 !important;
  overflow-x: hidden;
  width: 100%;
}


@keyframes logo-rise {
  0% {
    width: 0;
  }
  33% {
    width: 14em;
  }
  66% {
    width: 14em;
  }
  100% {
    width: 6em;
  }
}

@keyframes text-rise {
  0% {
    margin-top: 50vh;
  }
  100% {
    margin-top: 10vh;
  }
}


.ray {
  height: 1px;
  position: absolute;
  transition: 1s all ease;
}
.ray-1 {
  border-top: $border;
  top: 50%;
  left: 0;
}
.ray-2 {
  border-left: $border;
  bottom: 50%;
  left: 50%;
}
.ray-3 {
  border-left: $border;
  bottom: 50%;
  left: 50%;
  transform: rotate(60deg);
  transform-origin: bottom left;
}
.ray-4 {
  border-left: $border;
  bottom: calc(50% - 0.1em);
  left: 50%;
  transform: rotate(-60deg);
  transform-origin: bottom left;
}

@keyframes ray-1 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
    opacity: 0;
  }
}

@keyframes ray-2 {
  0% {
    height: 0%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 0%;
    bottom: auto;
    top: 0;
    opacity: 0;
  }
}

@keyframes ray-3 {
  0% {
    height: 0%;
    transform-origin: bottom left;
  }
  50% {
    height: 100%;
    transform-origin: bottom left;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}

@keyframes ray-4 {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}


@keyframes text-scale {
  0% {
    font-size: 3rem;
  }
  100% {
    font-size: 2rem;
  }
}



.activate {
  .ray-1 {
    animation-duration: 1s;
    animation-name: ray-1;
    animation-fill-mode: forwards;
  }
  .ray-2 {
    animation-duration: 1s;
    animation-name: ray-2;
    animation-fill-mode: forwards;
  }
  .ray-3 {
    animation-duration: 1s;
    animation-name: ray-3;
    animation-fill-mode: forwards;
  }
  .ray-4 {
    animation-duration: 1s;
    animation-name: ray-4;
    animation-fill-mode: forwards;
  }
  .institute-logo {
    animation-duration: 3s;
    animation-name: logo-rise;
    animation-fill-mode: forwards;
  }

}

.institute-logo__container {
  width: 100%;
  position: absolute;
  bottom: 50%;
  right: 0;
  text-align: center;

  .institute-logo {
    width: 10em;
    display: block;
    line-height: 0;
    margin: 0 auto -0.2em auto;
  }
}


.institute-text__container {
    margin-top: 50vh;
    text-align: center;

     animation-duration: 1s;
    animation-name: text-rise;
    animation-fill-mode: forwards;
  animation-delay: 2s;

}
.institute__main-title {
  font-family: masqualero;
  font-size: 3rem;
//  clip-path: inset(0 0 0 0);
  transition: 1s all ease;
  opacity: 0;
  padding-top: 1em;

     animation-duration: 1s;
    animation-name: text-scale;
    animation-fill-mode: forwards;
  animation-delay: 2s;

}

.activate .institute__main-title {
//  clip-path: inset(0 50% 0 0);
  opacity: 1;
}
.institute__sub-title {
  font-family: futura-pt;
  font-size: 1.4rem;
  margin-top: 0.2em;
}

.institute-text__container p {
  margin-bottom: 0;
}


@keyframes link-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo-place-top {
  0% {
    bottom: 50%;
//    width: 100%;
  }
  100% {
    bottom: calc(100% - 6em);
//    width: 14em;
  }
}
.institute-logo__container {
     animation-duration: 1s;
    animation-name: logo-place-top;
    animation-fill-mode: forwards;
  animation-delay: 2s;
}

.top-links {
  max-width: 80rem;
  margin: 0 auto;

   ul {
     padding: 1rem;
//     display: grid;
//     grid-template-columns: 1fr 1fr;
     text-align: center;
  }
  li {
    opacity: 0;
    list-style: none;
    display: inline;
     animation-duration: 2s;
    animation-name: link-fade-in;
    animation-fill-mode: forwards;

    @include bp-sequence();
  }
  a {
    font-family: "futura-pt-condensed", sans-serif;
font-size: 4em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
padding: 0 0.2em;
    transition: 0.4s all ease;
    &:link, &:visited {
      color: #3a4527;
    }

    &:hover {
      color: #edb32e;
    }
  }
}


@keyframes background-shift {
  0% {
    background: #fff;
  }
  100% {
    background: #ebebdc;
  }
}

.component--instituteLogo {
       animation-duration: 2s;
    animation-name: background-shift;
    animation-fill-mode: forwards;
  animation-delay: 2s;
}
