@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.cover-title {
  .supertext {
    opacity: 0;
    transform: translateY(-1em);
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem auto 2rem auto;
    animation-duration: 1s;
    animation-name: slide-up;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    font-family: masqualero, serif;
    text-align: center;
    letter-spacing: 0.3em;
  }
}
.canvas-area {
  text-align: center;
}



.cover-tagline.font-intro {
    padding: 1rem;
}
