/*


On return:
- Set up full-width styling
- Get animation working


*/


.row {
  display: block;

  @include break('medium') {
    display: flex;
  }
}

.component--fullHeight {
  min-height: 100vh;
}
.component--fullWidth-fullHeight {
  min-height: 100vh;
  padding: 0;

  .content {
      max-width: none;
  }
}
