$sans-serif: "futura-pt", sans-serif;
$sans-serif-display: "futura-pt-condensed", sans-serif;
$serif: masqualero, serif;

$woodland-green: #3a4527;
$vassar-gold: #c6aa76;
$vassar-gold-light: #ead6af;
$satin-linen: #ebebdc;

$hide-junk: true;

@if $hide-junk == true {
  nav.tabs,
  .highlighted,
  header#header,
  div#toolbar-administration {
    display: none;
  }
  body#top {
    padding-top: 0 !important;
  }
}

.bg-woodland-green {
  --fadeout-color: #{$woodland-green};
  background-color: $woodland-green;
}
.bg-vassar-gold {
  --fadeout-color: #{$vassar-gold};
  background-color: $vassar-gold;
}

.color-cold-steel {
  &,
  * {
    color: #889;
  }
}
.color-dogwood-red {
  &,
  * {
    color: #823648;
  }
}
.color-corduroy {
  &,
  * {
    color: #576d6c;
  }
}
.color-white {
  &,
  * {
    color: #fff;
  }
}

@mixin make-bg($classname, $color) {
  .bg-#{$classname} {
    --bg-#{$classname}: #{$color};
    --fadeout-color: var(--bg-#{$classname});
    background-color: $color;
  }
}

@include make-bg("vassar-gold-light", $vassar-gold-light);
@include make-bg("satin-linen", $satin-linen);

.node--unpublished {
  padding: 0;
}
.cover-photo-scroll-in {
  background-attachment: fixed;
  padding-top: 100vh;

  &.content-transitions-in {
    padding-top: 14rem;

    .content {
      opacity: 0;
      clip-path: inset(0 100% 0 0);
      transition: 1s all ease;
    }

    &.top-25pfrom-topOfWindow {
      .content {
        opacity: 1;
        clip-path: inset(0 0 0 -1.4rem);
      }
    }
  }
}

h2 {
  font-family: $sans-serif-display;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 0.9;
}

.component.title-outside-content {
  h2.main-content-display-title {
    position: absolute;
    margin-top: -90vh !important;
    text-align: center;
    width: 100%;
    left: 0;

    .title-content {
      background: #fff;
      color: #333;
      padding: 0.8em 1.1em;
      font-family: $sans-serif-display;
      text-transform: uppercase;
      letter-spacing: 0.12em;
    }
  }
}

.style-block {
  position: absolute;
  height: 1px;
  width: 1px;
}

.content-has-tape {
  .content {
    background: #fff;
    margin-bottom: 4em;
    max-width: 54rem;
    padding: 6em !important;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 3em;
      bottom: 3em;
      left: -1.3em;
      width: 2.6em;
      background: var(--tape-bg, #f00);
      border-bottom: 1em solid var(--tape-accent, #f00);
    }
  }
}

.image-two-cols {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: 64% !important;
  background-position: center left !important;
  justify-content: flex-end;
  padding: 0;

  .content {
    margin: 0;
    margin: 0;
    width: 36vw;
    max-width: 50ch;
    padding: 2em 4em 2em 2em;
  }
}

.tape-translucent {
  .content {
    &:before {
      mix-blend-mode: multiply;
    }
  }
}

.tape-gold {
  --tape-bg: #{$vassar-gold};
}

.content-align-middle {
  .content {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;
  }
}

/*  TYPE
    ==== */

.main-content {
  p {
    font-family: $sans-serif;
    font-size: 1.46rem;
  }
  .font-intro {
    font-family: $serif;
    font-size: 1.6rem;
  }
}

.scripty {
  font-family: professor;

  h2 & {
    text-transform: none;
    font-size: 146%;
    letter-spacing: 0;
    font-weight: normal;
  }
}

.title-cover {
  min-height: 100vh;
}

.mh-100vw {
  min-height: 100vh;
}

.fixed-content-cover {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0;

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    clip: rect(0, auto, auto, 0);
    top: 0;
    overflow: hidden;
    max-width: none;
  }
  .field--name-field-main-content-body {
    position: fixed;
    top: 0;
    // left: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 30em;
    margin: 0 auto;
    left: calc(50vw - 15em);
  }
}

.end-gradient:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4em;
  background: linear-gradient(
    to top,
    var(--fadeout-color, #aaa) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.bg-effect-multiply {
  background-blend-mode: multiply;
}

.component--main-content.bg,
.component--main-content-basic.bg {
  &.bg-right {
    background-position: right;

    &.bg-offset-1 {
      background-position: 98% -4%;
    }
  }
  &.bg-size-60 {
    &:not(.bg-zoom-in-on-scroll) {
      background-size: 60%;
    }
    &.bg-zoom-in-on-scroll {
      background-size: 0%;
      transition: 1s background-size ease-in;

      &.top-25pfrom-topOfWindow {
        background-size: 60%;
      }
    }
  }
  &.bg-slide-in-from-right {
    background-position: 100vw;
    transition: 2s background-position ease-out;

    &.top-25pfrom-topOfWindow {
      background-position: 100%;
    }
  }
}

.bg-size-contain {
  background-size: contain !important;
}
.bg-fixed {
  background-attachment: fixed;
}

.stacked-title {
  line-height: 0.5;
  margin-bottom: 0.4em;
  font-weight: normal;

  .scripty {
    font-family: "professor";
    text-transform: none;
    display: block;
    letter-spacing: 0;
    font-size: 142%;
  }
}

.translucent {
  mix-blend-mode: multiply;

  &-content {
    .content {
      mix-blend-mode: multiply;
    }
  }
}

/*  CROSSROADS COVER
*/

$line-color: #fff;

.crossroads-text {
  margin-top: 30vh;
  transform: translateX(-4em);
}
.cover-tagline {
  transform: translateY(-4em);
}
.crossroads-text,
.cover-tagline {
  text-align: center;
  transition: 2s transform ease;
  transition-property: transform, opacity;
  width: 100%;
  opacity: 0;
}
.top-50pfrom-topOfWindow {
  .crossroads-text,
  .cover-tagline {
    opacity: 1;
  }
  .crossroads-text {
    transform: translateX(0);
  }
  .cover-tagline {
    transform: translateY(0);
  }
}
//.world {
//  background: #aaa;
// }
.canvas-area {
  transform: perspective(0.4em);
  transform-style: preserve-3d;
}

.horizon {
  background: #aaa;
  width: 100%;
  height: 20em;
  position: absolute;
  top: 14.4em;
}

.world {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@keyframes slidein {
  0% {
    left: 0;
    background-size: 1em;
    width: 0%;
    opacity: 1;
  }
  50% {
    background-size: 14em;
    width: 400%;
    left: 0%;
    opacity: 1;
  }
  100% {
    background-size: 1em;
    width: 0%;
    left: 100%;
    opacity: 0;
  }
}

.horiz-line {
  background: repeating-linear-gradient(
    90deg,
    #{$line-color},
    #{$line-color} 50%,
    transparent 50%,
    transparent 100%
  );
  height: 0.4em;
  background-repeat: repeat-x;
  transition: 3s all ease;
  position: absolute;
  top: 50vh;
  left: 0;
  background-size: 2em;
  width: 0%;
  opacity: 0.4;

  .top-50pfrom-topOfWindow & {
    animation-name: slidein;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
    animation-delay: 0.4s;
  }
}

.center-line {
  width: 1em;
  height: 20vh;
  background: transparent;
  //  background: #999;
  margin: 0 auto;
  transform: rotateX(20deg);
  position: relative;
  overflow: hidden;
  z-index: 10;
  margin-top: 20vh;
}

.zoom {
  width: 100%;
  height: 20vh;
  transition: 2s all ease;
  position: absolute;
  top: 20vh;
  transition-timing-function: linear;
  opacity: 0.4;

  background: repeating-linear-gradient(
    180deg,
    #{$line-color},
    #{$line-color} 10px,
    transparent 10px,
    transparent 20px
  );
}

.top-50pfrom-topOfWindow .zoom {
  top: -20vh;
}

/* END CROSSROADS COVER */




.hidden {
  display: none;
}
