nav.tabs,
.highlighted,
header#header,
div#toolbar-administration {
  display: none;
}

body#top {
  padding-top: 0 !important;
}

.bg-woodland-green {
  --fadeout-color: #3a4527;
  background-color: #3a4527;
}

.bg-vassar-gold {
  --fadeout-color: #c6aa76;
  background-color: #c6aa76;
}

.bg-honey-yellow {
  --fadeout-color: #edb32e;
  background-color: #edb32e;
}

.accent-woodland-green {
  --accent-color: #3a4527;
}

.accent-vassar-gold {
  --accent-color: #c6aa76;
}

.accent-honey-yellow {
  --accent-color: #edb32e;
}

.color-cold-steel,
.color-cold-steel * {
  color: #889;
}

.color-dogwood-red,
.color-dogwood-red * {
  color: #823648;
}

.color-corduroy,
.color-corduroy * {
  color: #576d6c;
}

.color-white,
.color-white * {
  color: #fff;
}

.bg-vassar-gold-light {
  --bg-vassar-gold-light: #ead6af;
  --fadeout-color: var(--bg-vassar-gold-light);
  background-color: #ead6af;
}

.bg-satin-linen {
  --bg-satin-linen: #ebebdc;
  --fadeout-color: var(--bg-satin-linen);
  background-color: #ebebdc;
}

.node--unpublished {
  padding: 0;
}

.cover-photo-scroll-in {
  background-attachment: fixed;
  padding-top: 100vh;
}

.content-transitions-in {
  padding-top: 14rem;
}
.content-transitions-in .content {
  opacity: 0;
  clip-path: inset(0 100% 0 0);
  transition: 1s all ease;
}
.content-transitions-in.top-25pfrom-topOfWindow .content {
  opacity: 1;
  clip-path: inset(0 0 0 -1.4rem);
}

h2 {
  font-family: "futura-pt-condensed", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 0.9;
}

.component.title-outside-content h2.main-content-display-title {
  position: absolute;
  margin-top: -90vh !important;
  text-align: center;
  width: 100%;
  left: 0;
}
.component.title-outside-content h2.main-content-display-title .title-content {
  background: #fff;
  color: #333;
  padding: 0.8em 1.1em;
  font-family: "futura-pt-condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.12em;
}

.style-block {
  position: absolute;
  height: 1px;
  width: 1px;
}

.content-has-tape .content {
  background: #fff;
  margin-bottom: 4em;
  max-width: 54rem;
  padding: 6em !important;
  position: relative;
}
.content-has-tape .content:before {
  position: absolute;
  content: "";
  top: 3em;
  bottom: 3em;
  left: -1.3em;
  width: 2.6em;
  background: var(--tape-bg, #f00);
  border-bottom: 1em solid var(--tape-accent, #f00);
}

.image-two-cols {
  min-height: 100vh;
  background-attachment: fixed;
  background-size: 64% !important;
  background-position: center left !important;
  justify-content: flex-end;
  padding: 0;
}
.image-two-cols .content {
  margin: 0;
  margin: 0;
  width: 36vw;
  max-width: 50ch;
  padding: 2em 4em 2em 2em;
}

.tape-translucent .content:before {
  mix-blend-mode: multiply;
  opacity: 0.7;
}

.tape-gold {
  --tape-bg: #c6aa76;
}

.tape-yellow {
  --tape-bg: #edb32e;
}

.tape-green {
  --tape-bg: #3a4527;
}

.content-align-middle .content {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

/*  TYPE
    ==== */
.main-content p {
  font-family: "futura-pt", sans-serif;
  font-size: 1.46rem;
}
.main-content .font-intro {
  font-family: masqualero, serif;
  font-size: 1.6rem;
}

.scripty {
  font-family: professor;
}
h2 .scripty {
  text-transform: none;
  font-size: 146%;
  letter-spacing: 0;
  font-weight: normal;
}

.title-cover {
  min-height: 100vh;
}

.mh-100vw {
  min-height: 100vh;
}

.fixed-content-cover {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 0;
}
.fixed-content-cover .content {
  position: absolute;
  width: 100%;
  height: 100%;
  clip: rect(0, auto, auto, 0);
  top: 0;
  overflow: hidden;
  max-width: none;
}
.fixed-content-cover .field--name-field-main-content-body {
  position: fixed;
  top: 0;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 30em;
  margin: 0 auto;
  left: calc(50vw - 15em);
}

.end-gradient:after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 4em;
  background: linear-gradient(to top, var(--fadeout-color, #aaa) 0%, rgba(0, 0, 0, 0) 100%);
}

.bg-effect-multiply {
  background-blend-mode: multiply;
}

.component--main-content.bg.bg-right,
.component--main-content-basic.bg.bg-right {
  background-position: right;
}
.component--main-content.bg.bg-right.bg-offset-1,
.component--main-content-basic.bg.bg-right.bg-offset-1 {
  background-position: 98% -4%;
}
.component--main-content.bg.bg-size-60:not(.bg-zoom-in-on-scroll),
.component--main-content-basic.bg.bg-size-60:not(.bg-zoom-in-on-scroll) {
  background-size: 60%;
}
.component--main-content.bg.bg-size-60.bg-zoom-in-on-scroll,
.component--main-content-basic.bg.bg-size-60.bg-zoom-in-on-scroll {
  background-size: 0%;
  transition: 1s background-size ease-in;
}
.component--main-content.bg.bg-size-60.bg-zoom-in-on-scroll.top-25pfrom-topOfWindow,
.component--main-content-basic.bg.bg-size-60.bg-zoom-in-on-scroll.top-25pfrom-topOfWindow {
  background-size: 60%;
}
.component--main-content.bg.bg-slide-in-from-right,
.component--main-content-basic.bg.bg-slide-in-from-right {
  background-position: 100vw;
  transition: 2s background-position ease-out;
}
.component--main-content.bg.bg-slide-in-from-right.top-25pfrom-topOfWindow,
.component--main-content-basic.bg.bg-slide-in-from-right.top-25pfrom-topOfWindow {
  background-position: 100%;
}

.bg-size-contain {
  background-size: contain !important;
}

.bg-fixed {
  background-attachment: fixed;
}

.stacked-title {
  line-height: 0.5;
  margin-bottom: 0.4em;
  font-weight: normal;
}
.stacked-title .scripty {
  font-family: "professor";
  text-transform: none;
  display: block;
  letter-spacing: 0;
  font-size: 142%;
}

.translucent {
  mix-blend-mode: multiply;
}
.translucent-content .content {
  mix-blend-mode: multiply;
}

/*  CROSSROADS COVER
*/
.crossroads-text {
  margin-top: 30vh;
  transform: translateX(-4em);
}

.cover-tagline {
  transform: translateY(-4em);
}

.crossroads-text,
.cover-tagline {
  text-align: center;
  transition: 2s transform ease;
  transition-property: transform, opacity;
  width: 100%;
  opacity: 0;
}

.top-50pfrom-topOfWindow .crossroads-text,
.top-50pfrom-topOfWindow .cover-tagline {
  opacity: 1;
}
.top-50pfrom-topOfWindow .crossroads-text {
  transform: translateX(0);
}
.top-50pfrom-topOfWindow .cover-tagline {
  transform: translateY(0);
}

.canvas-area {
  transform: perspective(0.4em);
  transform-style: preserve-3d;
}

.horizon {
  background: #aaa;
  width: 100%;
  height: 20em;
  position: absolute;
  top: 14.4em;
}

.world {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@keyframes slidein {
  0% {
    left: 0;
    background-size: 1em;
    width: 0%;
    opacity: 1;
  }
  50% {
    background-size: 14em;
    width: 400%;
    left: 0%;
    opacity: 1;
  }
  100% {
    background-size: 1em;
    width: 0%;
    left: 100%;
    opacity: 0;
  }
}
.horiz-line {
  background: repeating-linear-gradient(90deg, #fff, #fff 50%, transparent 50%, transparent 100%);
  height: 0.4em;
  background-repeat: repeat-x;
  transition: 3s all ease;
  position: absolute;
  top: 50vh;
  left: 0;
  background-size: 2em;
  width: 0%;
  opacity: 0.4;
}
.top-50pfrom-topOfWindow .horiz-line {
  animation-name: slidein;
  animation-duration: 0.8s;
  animation-timing-function: ease-in;
  animation-delay: 0.4s;
}

.center-line {
  width: 1em;
  height: 20vh;
  background: transparent;
  margin: 0 auto;
  transform: rotateX(20deg);
  position: relative;
  overflow: hidden;
  z-index: 10;
  margin-top: 20vh;
}

.zoom {
  width: 100%;
  height: 20vh;
  transition: 2s all ease;
  position: absolute;
  top: 20vh;
  transition-timing-function: linear;
  opacity: 0.4;
  background: repeating-linear-gradient(180deg, #fff, #fff 10px, transparent 10px, transparent 20px);
}

.top-50pfrom-topOfWindow .zoom {
  top: -20vh;
}

/* END CROSSROADS COVER */
.has-accent.title-content {
  border-left: 0.6em solid var(--accent-color, #aaa);
}

.hidden {
  display: none;
}

.top-links {
  font-size: calc(1em + 0.5 * ((100vw - 20em) / 60));
}

.component--instituteLogo {
  --highlight-color: #3a4527;
  --highlight-color-2: #00f;
  height: 100vh;
  position: relative;
}

html {
  margin: 0 !important;
  overflow-x: hidden;
  width: 100%;
}

@keyframes logo-rise {
  0% {
    width: 0;
  }
  33% {
    width: 14em;
  }
  66% {
    width: 14em;
  }
  100% {
    width: 6em;
  }
}
@keyframes text-rise {
  0% {
    margin-top: 50vh;
  }
  100% {
    margin-top: 10vh;
  }
}
.ray {
  height: 1px;
  position: absolute;
  transition: 1s all ease;
}

.ray-1 {
  border-top: 1px solid #c6aa76;
  top: 50%;
  left: 0;
}

.ray-2 {
  border-left: 1px solid #c6aa76;
  bottom: 50%;
  left: 50%;
}

.ray-3 {
  border-left: 1px solid #c6aa76;
  bottom: 50%;
  left: 50%;
  transform: rotate(60deg);
  transform-origin: bottom left;
}

.ray-4 {
  border-left: 1px solid #c6aa76;
  bottom: calc(50% - 0.1em);
  left: 50%;
  transform: rotate(-60deg);
  transform-origin: bottom left;
}

@keyframes ray-1 {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
    opacity: 0;
  }
}
@keyframes ray-2 {
  0% {
    height: 0%;
  }
  50% {
    height: 50%;
  }
  100% {
    height: 0%;
    bottom: auto;
    top: 0;
    opacity: 0;
  }
}
@keyframes ray-3 {
  0% {
    height: 0%;
    transform-origin: bottom left;
  }
  50% {
    height: 100%;
    transform-origin: bottom left;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}
@keyframes ray-4 {
  0% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 100%;
    opacity: 0;
  }
}
@keyframes text-scale {
  0% {
    font-size: 3rem;
  }
  100% {
    font-size: 2rem;
  }
}
.activate .ray-1 {
  animation-duration: 1s;
  animation-name: ray-1;
  animation-fill-mode: forwards;
}
.activate .ray-2 {
  animation-duration: 1s;
  animation-name: ray-2;
  animation-fill-mode: forwards;
}
.activate .ray-3 {
  animation-duration: 1s;
  animation-name: ray-3;
  animation-fill-mode: forwards;
}
.activate .ray-4 {
  animation-duration: 1s;
  animation-name: ray-4;
  animation-fill-mode: forwards;
}
.activate .institute-logo {
  animation-duration: 3s;
  animation-name: logo-rise;
  animation-fill-mode: forwards;
}

.institute-logo__container {
  width: 100%;
  position: absolute;
  bottom: 50%;
  right: 0;
  text-align: center;
}
.institute-logo__container .institute-logo {
  width: 10em;
  display: block;
  line-height: 0;
  margin: 0 auto -0.2em auto;
}

.institute-text__container {
  margin-top: 50vh;
  text-align: center;
  animation-duration: 1s;
  animation-name: text-rise;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.institute__main-title {
  font-family: masqualero;
  font-size: 3rem;
  transition: 1s all ease;
  opacity: 0;
  padding-top: 1em;
  animation-duration: 1s;
  animation-name: text-scale;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.activate .institute__main-title {
  opacity: 1;
}

.institute__sub-title {
  font-family: futura-pt;
  font-size: 1.4rem;
  margin-top: 0.2em;
}

.institute-text__container p {
  margin-bottom: 0;
}

@keyframes link-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo-place-top {
  0% {
    bottom: 50%;
  }
  100% {
    bottom: calc(100% - 6em);
  }
}
.institute-logo__container {
  animation-duration: 1s;
  animation-name: logo-place-top;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.top-links {
  max-width: 80rem;
  margin: 0 auto;
}
.top-links ul {
  padding: 1rem;
  text-align: center;
}
.top-links li {
  opacity: 0;
  list-style: none;
  display: inline;
  animation-duration: 2s;
  animation-name: link-fade-in;
  animation-fill-mode: forwards;
}
.top-links li:nth-child(1) {
  animation-delay: 2.2s;
}
.top-links li:nth-child(2) {
  animation-delay: 2.4s;
}
.top-links li:nth-child(3) {
  animation-delay: 2.6s;
}
.top-links li:nth-child(4) {
  animation-delay: 2.8s;
}
.top-links li:nth-child(5) {
  animation-delay: 3s;
}
.top-links li:nth-child(6) {
  animation-delay: 3.2s;
}
.top-links li:nth-child(7) {
  animation-delay: 3.4s;
}
.top-links li:nth-child(8) {
  animation-delay: 3.6s;
}
.top-links li:nth-child(9) {
  animation-delay: 3.8s;
}
.top-links li:nth-child(10) {
  animation-delay: 4s;
}
.top-links li:nth-child(11) {
  animation-delay: 4.2s;
}
.top-links li:nth-child(12) {
  animation-delay: 4.4s;
}
.top-links li:nth-child(13) {
  animation-delay: 4.6s;
}
.top-links li:nth-child(14) {
  animation-delay: 4.8s;
}
.top-links li:nth-child(15) {
  animation-delay: 5s;
}
.top-links li:nth-child(16) {
  animation-delay: 5.2s;
}
.top-links li:nth-child(17) {
  animation-delay: 5.4s;
}
.top-links li:nth-child(18) {
  animation-delay: 5.6s;
}
.top-links li:nth-child(19) {
  animation-delay: 5.8s;
}
.top-links li:nth-child(20) {
  animation-delay: 6s;
}
.top-links a {
  font-family: "futura-pt-condensed", sans-serif;
  font-size: 4em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 0 0.2em;
  transition: 0.4s all ease;
}
.top-links a:link, .top-links a:visited {
  color: #3a4527;
}
.top-links a:hover {
  color: #edb32e;
}

@keyframes background-shift {
  0% {
    background: #fff;
  }
  100% {
    background: #ebebdc;
  }
}
.component--instituteLogo {
  animation-duration: 2s;
  animation-name: background-shift;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

/*


On return:
- Set up full-width styling
- Get animation working


*/
.component--fullWidth-fullHeight {
  height: 100vh;
  min-height: 100vh;
  padding: 0;
}
.component--fullWidth-fullHeight .content {
  max-width: none;
}

:root {
  --highlight-color: #f00;
  --highlight-color-2: #00f;
}

li a.link--wipe:hover {
  background-color: transparent !important;
}

.link--wipe {
  font-size: 1.4em;
  background-image: linear-gradient(to right, var(--highlight-color) 0%, var(--highlight-color) 100%);
  text-decoration: none;
  position: relative;
  width: auto;
  background-repeat: no-repeat;
  background-position: 0px bottom;
  padding: 0.1% 0px;
}
.link--wipe, .link--wipe > span {
  transition: background 0.4s ease;
}
.link--wipe:hover {
  background-size: 100% 1px;
}
.link--wipe {
  background-size: 0px 100%;
}
.link--wipe:hover {
  background-size: 100% 100%;
}

.link--wipe-inner {
  --text-color: #fff;
  position: relative;
  transition: background 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  background-image: linear-gradient(to right, var(--text-color) 0%, var(--text-color) 49.99%, var(--highlight-color) 50%, var(--highlight-color) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.link--wipe-inner:hover {
  background-size: 200%;
  background-position: 0 100%;
}

.link-wipeBgColor-green {
  --highlight-color: #3a4527;
}

.link-wipeBgColor-yellow {
  --highlight-color: #edb32e;
}
